.article {
    .card-article {
        max-width: 100%;
        max-height: 650px;
        min-height: 350px;
        padding: 20px;
        border: solid 4px hsla(24, 100%, 50%, 0.349);
        //margin: 1rem;
        .card-img-top {
            -o-object-fit: cover;
            object-fit: cover;
        }
    }
}
