.carousel{
    max-height: 38rem;
    background-color: rgb(92, 90, 90);
    // .carousel-img {
    //     width: 100%;
    //     height: fit-content;
    // }
    .carousel-control-next-icon{
        color: rgb(251, 119, 31);
        height: 100%;
    }
    // img{
  
    //     height: 350px;
    //   }
    //   .carousel-wrapper {
    //     height: 250px;
    // }
}

// .carousel-img{
//     min-height:37rem ;
// }