.wrapper-partners{
    background-color:
    #f5f5f5;
    .wrapp{
        width: 1050px;
        margin: auto;
        margin-top: 5rem;
        img{
            height: 100px;
            width: 120px;
            margin-bottom: 5rem;
        }
        #crypto{
            margin-top: 1.7rem;
            height: 100px;
        }
    }

}

